fastapi[standard]==0.115.4
sqlalchemy==2.0.35
pydantic==2.9.2
pydantic-settings==2.5.2
psycopg2-binary==2.9.9
alembic==1.13.3
qdrant-client==1.12.0
neo4j==5.26.0
redis==5.2.0
confluent-kafka==2.6.0
mem0ai==0.1.13
